* {
  box-sizing: border-box;
}

body {
  /* background:#92bde7; */
  color                : white;
  background-image     : url(../img/hero.jpg);
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-size      : cover;
  line-height          : 1.6;
  font-family          : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding              : 1em;
}

.container {
  max-width   : 50%;
  margin-left : auto;
  margin-right: auto;
  padding     : 1em;
}

ul {
  list-style: none;
  padding   : 0;
}

.brand {
  color     : white; /*#485e74*/
  text-align: center;
}

.brand span {
  color: white;
  ;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
  padding: 1em;
}


.contact {
  /* background:#f9feff; */
  background-color: rgba(8, 8, 8, 0.747);
  
}

/* FORM STYLES */

h3 {
  margin-left: 14%;
}
.contact form label {
  margin-left: 14%;
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  margin-left: 14%;
  width  : 70%;
  padding: 1em;
  border : 1px solid #c9e6ff;
}

.contact form button {
  background    : #485e74;
  border        : 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: rgba(8, 8, 8, 0.747);
  color     : #fff;
  outline   : 0;
  transition: background-color 1s ease-out;
}

.alert {
  text-align   : center;
  padding      : 10px;
  background   : #79c879;
  color        : #fff;
  margin-bottom: 10px;
  display      : none;
}


/* responsiveness for message page  */
/* LARGE SCREENS */
@media(max-width:850px) {
  .container {
    max-width   : 70%;
    margin-left : auto;
    margin-right: auto;
    padding     : 1em;
  }

  .wrapper {
    display              : grid;
    grid-template-columns: 1fr;
  }

  .wrapper>* {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

@media(max-width:650px) {
  .container {
    max-width   : 80%;
    margin-left : auto;
    margin-right: auto;
    padding     : 1em;
  }
}


@media(max-width:650px) {
  .container {
    max-width   : 90%;
    margin-left : auto;
    margin-right: auto;
    padding     : 1em;
  }

}