* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    top: 0;
    margin: 0;
    padding: 0;
    background-image: url(../img/hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: grey;
}
.headings{
    text-align: center;
    padding-top: 5%;
    font-size: 35px;
    color: white;
    font-family: 'Kaushan Script', cursive;
}

////////////////////////////////////////////////////////////////////////////

// navigation styling

////////////////////////////////////////////////////////////////////////////


nav{
    width: 100%;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    height: 8%;
    background-color: #101519;
    position: fixed;;
    color: black;
}
nav div{
    display: inline-flex;
    padding-top: 1.1%;
    width: 16%;
    letter-spacing:3%;
    padding-left: 15%;
    font-size: 20px;
    color: white;
}

.nav div :hover{
    color: black;
}




///////////////////////////////////////////////////////////////////////////////////

// styling of the header section 

///////////////////////////////////////////////////////////////////////////////////

.main-head{
    font-family:'Kaushan Script', cursive;
    height: 700px;
    width: 100%;
}

.head-box{
    padding-top: 13%;
}

.head{ 
    margin-top: 7%;
    margin-left: 35%;
    margin-right: 35%;
    color: white;

}

.name{
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
    
}

.occupation{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    
}



/////////////////////////////////////////////////////////////////////////////////////////

// about me section 

////////////////////////////////////////////////////////////////////////////////////////


.aboutme-box{
    background-color: rgba(8, 8, 8, 0.747);
    height: 350px;
    width: 60%;
    color: white;
    margin-top: 13%;
    margin-left: 20%;
    margin-right: 25%;
}
.imgofme{
    height: 212px;
    width: 229px;
    border-radius: 70%;
    margin-left: 49px;
}

.para-aboutme{
    font-family: OCR A Std, monospace;
    font-size: 20px;
    padding-top: 4%;
    padding-left: 3%;
    margin-right: 18%;
}
////////////////////////////////////////////////////////////////////////////////////////

// styling of the education section

////////////////////////////////////////////////////////////////////////////////////////

.section-2{
    margin-top: 10%;
    color: white;
    width: 100%;
    // height: 35.5em;
    
}
.sub-headings{
    margin-top: 8%;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    text-align: center;
}

.edu-img{
    width: 216px;
    margin: 15%;
    border-radius: 50%;
}

.edu-containers{
    background-color: rgba(8, 8, 8, 0.747);
    font-family: monospace;
    font-size: 20px;
    border-radius: 15%;
    padding-left: 10%;
    padding-right: 10%;
    width: 90%;
    height: 1200px;
}



////////////////////////////////////////////////////////////////////////

// styling of the project section

///////////////////////////////////////////////////////////////////////

.project-containers{
    background-color: rgba(8, 8, 8, 0.747);
    font-family: monospace;
    font-size: 20px;
    border-radius: 5%;
    padding-left: 10%;
    padding-right: 10%;
    width: 90%;

}