* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #dbc596;
}
a{
    text-decoration: none;
    color: white;
}

////////////////////////////////////////////////////////////////////////////

// navigation styling

////////////////////////////////////////////////////////////////////////////


nav{
    width: 100%;
    height: 8%;
    background-color: #101519;
    position: fixed;;
    color: black;
}
nav div{
    display: inline-flex;
    padding: 15px;
    padding-left: 10px;
    width: 16%;
    letter-spacing:3%;
    padding-left: 10%;
    font-size: 20px;
    color: white;
}

.nav div :hover{
    color: black;
}

.headings{
    text-align: center;
    padding-top: 34px;
    font-size: 35px;
}


///////////////////////////////////////////////////////////////////////////////////

// styling of the heading section 

///////////////////////////////////////////////////////////////////////////////////

.main-head{
    background-image: url(../img/hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55.5em; 
}

.head-box{
    padding-top: 133px;
   
}

.head{
    // background-color: rgba(224, 212, 212, 0.473);;
    margin-left: 35%;
    margin-right: 35%;
    color: white;
    font-size: 20px;
}

.name{
    padding-left:23% ;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.occupation{
    padding-left: 25%;
    padding-bottom: 20px;
}

.aboutme-box{
    background-color: rgba(8, 8, 8, 0.603);
    height: 250px;
    width: 60%;
    color: white;
    
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 25%;
}

.para-aboutme{
    font-family: OCR A Std, monospace;
    font-size: 17px;
    padding-left: 3%;
    padding-right: 3%;
}




// styling of section-1




// styling of section-2 
.section-2{
    background-color: #dbc596;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35.5em;
    
}

.edu-img{
    width: 216px;
}

.lfc{
    padding-right: 40%;
}

.rlabs{
    padding-right: 40%;
}

.rss{
    padding-right: 40%;
}