* {
    box-sizing     : border-box;
    scroll-behavior: smooth;
}

body {
    top                  : 0;
    margin               : 0;
    padding              : 0;
    background-image     : url(../img/hero.jpg);
    background-attachment: fixed;
    background-repeat    : no-repeat;
    background-size      : cover;
    color                : white;
}

a {
    text-decoration: none;
    color          : white;
}

a:hover {
    color      : grey;
    border-left: 3px black;
}

.headings {
    text-align : center;
    padding-top: 5%;
    font-size  : 35px;
    color      : white;
    font-family: 'Kaushan Script', cursive;
}



// navigation styling


nav {
    width           : 100%;
    font-family     : 'Kaushan Script', cursive;
    font-size       : 20px;
    height          : 8%;
    background-color: #101519;
    padding-left    : 8%;
    padding-right   : 8%;
    position        : fixed;
    color           : black;
}

.menu {
    display       : inline-flex;
    padding-top   : 1.1%;
    width         : 19%;
    letter-spacing: 0px;
    padding-left  : 5%;
    font-size     : 20px;
    color         : white;
    border        : 2px white;
}



// styling of the header section 



.main-head {
    font-family: 'Kaushan Script', cursive;
    height     : 700px;
    width      : 100%;

}

.head-box {
    padding-top: 13%;

}

.head {
    margin-top      : 7%;
    margin-left     : 35%;
    margin-right    : 35%;
    color           : white;
    border          : 3px #101519 solid;
    background-color: rgba(0, 0, 0, 0.363);

}

.name {
    font-size     : 50px;
    text-align    : center;
    padding-bottom: 10px;

}

.occupation {
    text-align    : center;
    font-size     : 30px;
    padding-bottom: 20px;

}


// about me section 




.aboutme-box {
    background-color: rgba(8, 8, 8, 0.747);
    height          : 370px;
    width           : 70%;
    color           : white;
    margin-top      : 13%;
    margin-left     : 16%;
    margin-right    : 16%;
}

.imgofme {
    margin-left: 40%;
}

.myimg {
    width        : 170px;
    height       : 170px;
    border-radius: 30%;
}

.para-aboutme {
    font-family : OCR A Std, monospace;
    font-size   : 20px;
    padding-top : 1%;
    padding-left: 3%;
    margin-right: 18%;
}



// styling of the education section



.section-2 {
    margin-top: 10%;
    color     : white;
    width     : 100%;
    // height : 35.5em;

}

.sub-headings {
    margin-top : 8%;
    font-family: 'Kaushan Script', cursive;
    font-size  : 25px;
    text-align : center;
}

.edu-img {
    width        : 216px;
    margin       : 15%;
    border-radius: 50%;
}

.edu-containers {
    background-color: rgba(8, 8, 8, 0.747);
    font-family     : monospace;
    font-size       : 20px;
    border-radius   : 15%;
    padding-left    : 10%;
    padding-right   : 10%;
    width           : 90%;
    height          : 1200px;
}





// styling of the project section



.project-containers {
    background-color: rgba(8, 8, 8, 0.747);
    font-family     : monospace;
    font-size       : 20px;
    border-radius   : 5%;
    padding-left    : 10%;
    padding-right   : 10%;
    height          : 450px;
    width           : 90%;
}

.proj-img {
    width: 100%;
}




// styling of the skills and abilities section 




.section-4 {
    margin-top: 8%;
    color     : white;
    width     : 100%;

}

.skill-headings {
    margin-top: 5%;
}

.skills {
    background-color: rgba(8, 8, 8, 0.747);
    text-align      : center;
}

.skills-img {
    width: 100%;
}

.skills-imgs {
    width      : 70%;
    padding-top: 7%;
}


// styling of the contact section 


.fa {
    font-size : 100px;
    text-align: center;
}

.contact {
    padding-top     : 20%;
    text-align      : center;
    height          : 250px;
    background-color: rgba(8, 8, 8, 0.747);
}

.contact-text {
    font-size: 15px;
}


// styling of the footer section 


footer {
    width           : 100%;
    margin-top      : 7%;
    font-size       : 18px;
    height          : 25px;
    background-color: rgba(8, 8, 8, 0.747);
    text-align      : center;
}