

.container1{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 100px;
    margin-left: 2%;
}

.container2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 40px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.container3{
    display: grid;
    grid-template-columns: 53% 53%;
    grid-gap: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%
}