// all the containers and the layout of hows the structure is going to be 

.container1{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 100px;
    margin-left: 2%;
}

.container2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 40px;
    margin: 5%;
}
.container3{
    display: grid;
    grid-template-columns: 53% 53%;
    grid-gap: 20px;
    margin: 5%;
}
.container4{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 20px;
    margin: 5%;

}
.container5{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 50px;
    margin: 5%;
    background-color: rgba(8, 8, 8, 0.747);
    

}