// responsive design


//biggest mobile view for devices of 1250px

@media only screen and (max-width: 1300px) {
    * {
        box-sizing     : border-box;
        scroll-behavior: smooth;
    }
    
    body {
        top                  : 0;
        margin               : 0;
        padding              : 0;
        background-image     : url(../img/hero.jpg);
        background-attachment: fixed;
        background-repeat    : no-repeat;
        background-size      : cover;
        color                : white;
    }
    
    a {
        text-decoration: none;
        color          : white;
    }
    
    a:hover {
        color      : grey;
        border-left: 3px black;
    }

    .container1 {
        display              : grid;
        grid-template-columns: 20% 70%;
        grid-gap             : 150px;
        margin-left          : 1%;
    }

    .aboutme-box {
        background-color: rgba(8, 8, 8, 0.747);
        height          : 400px;
        width           : 70%;
        color           : white;
        margin-top      : 13%;
        margin-left     : 16%;
        margin-right    : 16%;
    }

    .imgofme {
        height       : 200px;
        width        : 229px;
        border-radius: 70%;
        padding-top  : 10%;
        margin-left  : 35px;
    }

    .para-aboutme {
        font-family : OCR A Std, monospace;
        font-size   : 19px;
        padding-top : 4%;
        padding-left: 3%;
        margin-right: 18%;
    }

    .container2 {
        display              : grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap             : 0px;
        margin-left          : 3%;
    }

    .edu-img {
        width        : 200px;
        margin       : 10%;
        border-radius: 50%;
    }

    .edu-containers {
        background-color: rgba(8, 8, 8, 0.747);
        font-family     : monospace;
        font-size       : 20px;
        border-radius   : 15%;
        padding-left    : 10%;
        padding-right   : 10%;
        width           : 90%;
        height          : 1300px;
    }

    .container5 {
        display              : grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-gap             : 40px;
        margin-left          : 10%;
        margin-top           : 5%;

    }

    .contact {
        padding-top     : 20%;
        text-align      : center;
        height          : 250px;
        background-color: rgba(8, 8, 8, 0.747);
    }


}

// For 1000px devices
@media only screen and (max-width: 1000px) {
    * {
        box-sizing     : border-box;
        scroll-behavior: smooth;
    }
    
    body {
        top                  : 0;
        margin               : 0;
        padding              : 0;
        background-image     : url(../img/hero.jpg);
        background-attachment: fixed;
        background-repeat    : no-repeat;
        background-size      : cover;
        color                : white;
    }
    
    a {
        text-decoration: none;
        color          : white;
    }
    
    a:hover {
        color      : grey;
        border-left: 3px black;
    }
    .headings {
        text-align : center;
        padding-top: 15%;
        font-size  : 35px;
        color      : white;
        font-family: 'Kaushan Script', cursive;
    }

    .head {
        margin-top      : 17%;
        margin-left     : 25%;
        margin-right    : 25%;
        color           : white;
        border          : 3px #101519 solid;
        background-color: rgba(0, 0, 0, 0.363);

    }

    .container1 {
        display              : grid;
        grid-template-columns: 100%;
        grid-row             : 2px;
        margin-left          : 1%;
    }

    .aboutme-box {
        background-color: rgba(8, 8, 8, 0.747);
        height          : 800px;
        width           : 80%;
        color           : white;
        margin-top      : 20%;
        margin-left     : 10%;
        margin-right    : 13%;
    }

    .imgofme {
        height     : 150px;
        margin-left: 33%;
    }

    .myimg {
        width: 200px;

    }

    .para-aboutme {
        font-family : OCR A Std, monospace;
        font-size   : 19px;
        padding-left: 15%;
        margin-right: 12%;
    }

    .container2 {
        display              : grid;
        grid-template-columns: 100%;
        margin-left          : 10%;
        margin-right         : 10%
    }

    .edu-img {
        width        : 200px;
        border-radius: 30%;
        margin-left  : 35%;
    }

    .edu-containers {
        background-color: rgba(8, 8, 8, 0.747);
        font-family     : monospace;
        font-size       : 18px;
        border-radius   : 15%;
        padding-left    : 10%;
        padding-right   : 10%;
        margin-bottom   : 10%;
        width           : 100%;
        height          : 1000px;
    }

    .container3 {
        display              : grid;
        grid-template-columns: 100%;
        grid-gap             : 20px;
        margin-left          : 10%;


    }

    .project-containers {
        background-color: rgba(8, 8, 8, 0.747);
        font-family     : monospace;
        font-size       : 20px;
        border-radius   : 5%;
        padding-left    : 10%;
        padding-right   : 10%;
        height          : 450px;
        width           : 100%;
    }

    .container5 {
        display              : grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-gap             : 40px;
        margin-left          : 7%;
        margin-top           : 5%;

    }

    .fa {
        font-size : 80px;
        text-align: center;
    }

    .contact {
        padding-top     : 20%;
        text-align      : center;
        height          : 200px;
        background-color: rgba(8, 8, 8, 0.747);
    }

    .contact-text {
        font-size: 12px;
    }
}

// For 800px devices
@media only screen and (max-width: 800px) {
    * {
        box-sizing     : border-box;
        scroll-behavior: smooth;
    }
    
    body {
        top                  : 0;
        margin               : 0;
        padding              : 0;
        background-image     : url(../img/hero.jpg);
        background-attachment: fixed;
        background-repeat    : no-repeat;
        background-size      : cover;
        color                : white;
    }
    
    a {
        text-decoration: none;
        color          : white;
    }
    
    a:hover {
        color      : grey;
        border-left: 3px black;
    }
    nav {
        width           : 100%;
        font-family     : 'Kaushan Script', cursive;
        font-size       : 16px;
        height          : 8%;
        background-color: #101519;
        padding-left    : 3%;
        padding-right   : 3%;
        position        : fixed;
        color           : black;
    }

    .menu {
        display       : inline-flex;
        padding-top   : 2%;
        width         : 19%;
        letter-spacing: 0px;
        padding-left  : 5%;
        font-size     : 16px;
        color         : white;
    }

    .aboutme-box {
        background-color: rgba(8, 8, 8, 0.747);
        height          : 800px;
        width           : 85%;
        color           : white;
        margin-top      : 13%;
        margin-left     : 7%;
        margin-right    : 10%;
    }

    .edu-img {
        width        : 200px;
        border-radius: 30%;
        margin-left  : 30%;
    }

    .container5 {
        display              : grid;
        grid-template-columns: 50% 50%;
        grid-gap             : 9px;
        padding-left         : 0%;
        margin-right         : 2%;
    }

    .contact {
        text-align      : center;
        height          : 130px;
        background-color: rgba(8, 8, 8, 0.747);
        width           : 90%;
        padding-top     : 7%;
        margin-right    : 2%;

    }

    .fa {
        padding-top: 1%;
        font-size  : 70px;
        text-align : center;
    }

}

@media only screen and (max-width: 650px) {
    * {
        box-sizing     : border-box;
        scroll-behavior: smooth;
    }
    
    body {
        top                  : 0;
        margin               : 0;
        padding              : 0;
        background-image     : url(../img/hero.jpg);
        background-attachment: fixed;
        background-repeat    : no-repeat;
        background-size      : cover;
        color                : white;
    }
    
    a {
        text-decoration: none;
        color          : white;
    }
    
    a:hover {
        color      : grey;
        border-left: 3px black;
    }
    nav {
        width           : 100%;
        font-family     : 'Kaushan Script', cursive;
        font-size       : 20px;
        height          : 8%;
        background-color: #10151a00;
        padding-left    : 3%;
        padding-right   : 0%;
        position        : fixed;
        color           : black;
    }

    .menu {
        display       : inline-flex;
        padding-top   : 1.1%;
        width         : 50%;
        letter-spacing: 1px;
        padding-left  : 5%;
        font-size     : 19px;
        color         : white;

    }

    label {
        display : block;
        cursor  : pointer;
        position: sticky;
        top     : 2%;
        right   : 1%;
    }

    .navtop {
        width  : 100%;
        display: none;
    }

    .navtop a {
        background-color: rgba(8, 8, 8, 0.747);
        display         : block;
        border          : 1px white dotted;
        margin          : 0;
        line-height     : 50px;

    }

    #toggle:checked+.navtop {
        display : block;
        overflow: hidden;
    }

    .head {
        margin-top      : 15%;
        margin-left     : 20%;
        margin-right    : 20%;
        color           : white;
        border          : 3px #101519 solid;
        background-color: rgba(0, 0, 0, 0.363);

    }

    .name {
        font-size     : 42px;
        text-align    : center;
        padding-bottom: 10px;

    }

    .occupation {
        text-align    : center;
        font-size     : 22px;
        padding-bottom: 20px;

    }


    .aboutme-box {
        background-color: rgba(8, 8, 8, 0.747);
        height          : 700px;
        width           : 89%;
        color           : white;
        margin-top      : 13%;
        margin-left     : 5%;
        margin-right    : 10%;
    }

    .imgofme {
        height     : 120px;
        margin-left: 33%;
    }

    .myimg {
        width        : 170px;
        border-radius: 30%;
    }

    .para-aboutme {
        font-family : OCR A Std, monospace;
        font-size   : 19px;
        padding-top : 0px;
        padding-left: 9%;
        margin-right: 10%;
    }

    .container2 {
        display              : grid;
        grid-template-columns: 100%;
        margin-left          : 5%;
        margin-right         : 5%
    }

    .edu-img {
        width        : 170px;
        border-radius: 30%;
        margin-left  : 27%;
    }

    .edu-containers {
        background-color: rgba(8, 8, 8, 0.747);
        font-family     : monospace;
        font-size       : 17px;
        border-radius   : 15%;
        padding-left    : 7%;
        padding-right   : 7%;
        margin-bottom   : 10%;
        width           : 100%;
        height          : 1000px;
    }

    .container3 {
        display              : grid;
        grid-template-columns: 100%;
        grid-gap             : 20px;
        margin-left          : 10%;


    }

    .project-containers {
        background-color: rgba(8, 8, 8, 0.747);
        font-family     : monospace;
        font-size       : 20px;
        border-radius   : 5%;
        padding-left    : 10%;
        padding-right   : 10%;
        height          : 350px;
        width           : 100%;
    }

    .container4 {
        display              : grid;
        grid-template-columns: 45% 45%;
        grid-gap             : 20px;
        margin               : 5%;
    }

    footer {
        width           : 100%;
        margin-top      : 7%;
        font-size       : 14px;
        height          : 25px;
        background-color: rgba(8, 8, 8, 0.747);
        text-align      : center;
    }

}

@media only screen and (max-width: 450px) {
    * {
        box-sizing     : border-box;
        scroll-behavior: smooth;
    }
    
    body {
        top                  : 0;
        margin               : 0;
        padding              : 0;
        background-image     : url(../img/hero.jpg);
        background-attachment: fixed;
        background-repeat    : no-repeat;
        background-size      : cover;
        color                : white;
    }
    
    a {
        text-decoration: none;
        color          : white;
    }
    
    a:hover {
        color      : grey;
        border-left: 3px black;
    }
    .menu {
        display       : inline-flex;
        padding-top   : 1.1%;
        width         : 50%;
        letter-spacing: 1px;
        padding-left  : 5%;
        font-size     : 19px;
        color         : white;

    }

    label {
        display : block;
        cursor  : pointer;
        position: sticky;
        top     : 2%;
        right   : 1%;
    }

    .navtop a {
        background-color: rgba(8, 8, 8, 0.911);
        display         : block;
        border          : 1px white dotted;
        margin          : 0;
        line-height     : 50px;

    }

    .headings {
        text-align : center;
        padding-top: 0%;
        font-size  : 30px;
        color      : white;
        font-family: 'Kaushan Script', cursive;
        background-color:rgba(8, 8, 8, 0.911) ;
    }

    .head-box {
        padding-top: 30%;
    }



    .head {
        margin-top      : 40%;
        margin-left     : 15%;
        margin-right    : 15%;
        color           : white;
        border          : 3px #101519 solid;
        background-color: rgba(0, 0, 0, 0.363);

    }

    .name {
        font-size     : 37px;
        text-align    : center;
        padding-bottom: 10px;

    }

    .occupation {
        text-align    : center;
        font-size     : 20px;
        padding-bottom: 20px;

    }

    .aboutme-box {
        background-color: rgba(8, 8, 8, 0.747);
        height          : 760px;
        width           : 89%;
        color           : white;
        margin-top      : 13%;
        margin-left     : 5%;
        margin-right    : 10%;
    }

    .imgofme {
        height     : 120px;
        margin-left: 25%;

    }

    .myimg {
        width        : 170px;
        border-radius: 25%;
    }

    .para-aboutme {
        font-family : OCR A Std, monospace;
        font-size   : 16px;
        padding-top : 0px;
        padding-left: 9%;
        margin-right: 10%;
    }

    .section-2 {
        margin-top: 25%;
        color     : white;
        width     : 100%;
    }

    .container2 {
        display              : grid;
        grid-template-columns: 100%;
        margin-left          : 5%;
        margin-right         : 5%
    }

    .sub-headings {
        margin-top : 8%;
        font-family: 'Kaushan Script', cursive;
        font-size  : 18px;
        text-align : center;
    }

    .edu-img {
        width        : 140px;
        border-radius: 30%;
        margin-left  : 23%;
    }
    
    .edu-containers {
        background-color: rgba(8, 8, 8, 0.747);
        font-family     : monospace;
        font-size       : 16px;
        border-radius   : 15%;
        padding-left    : 7%;
        padding-right   : 7%;
        margin-bottom   : 10%;
        width           : 100%;
        height          : 1000px;
    }

    .section-3{
        margin-top: 25%;
    }

    .container3 {
        display              : grid;
        grid-template-columns: 100%;
        grid-gap             : 20px;
        margin-left          : 5%;
    }

    .project-containers {
        background-color: rgba(8, 8, 8, 0.747);
        font-family     : monospace;
        font-size       : 20px;
        border-radius   : 5%;
        padding-left    : 10%;
        padding-right   : 10%;
        height          : 300px;
        width           : 100%;
    }

    .proj-img {
        width: 100%;
        height: 150px;
    }

    .section-4{
        margin-top: 25%;
    }
    .container4 {
        display              : grid;
        grid-template-columns: 40% 40%;
        grid-gap             : 20px;
        margin-left               : 15%;
        margin-right: 10%;
    }

    .section-5{
        margin-top: 25%;
    }

    .container5 {
        display              : grid;
        grid-template-columns: 50% 50%;
        grid-gap             : 9px;
        padding-left         : 0%;
        margin-left: 5%;
    }

    .contact-text {
        font-size: 10px;
    }

    footer {
        width           : 100%;
        margin-top      : 7%;
        font-size       : 12px;
        height          : 25px;
        background-color: rgba(8, 8, 8, 0.747);
        text-align      : center;
    }



}